/* ==========

project: blog perview card
Author: Rawan Elhewity
Date: 16/8/2025

    ========== */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Figtree";
  src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  font-family: Figtree, sans-serif;
  font-size: 16px;
}

body {
  background-color: hsl(47, 88%, 63%);
}

.flexcontainer {
  height: 95vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.maincontainer {
  width: 26%;
  padding: 18px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  border: solid 1px hsl(0, 0%, 7%);
  box-shadow: 5px 5px 0px hsl(0, 0%, 7%);
}

.maincontainer > * {
  margin: 10px 0px;
}

.bgimg {
  width: 100%;
  border-radius: 10px;
}

button {
  padding: 5px 8px;
  background-color: hsl(47, 88%, 63%);
  border: none;
  border-radius: 5px;
  font-weight: 800;
}

.txt {
  font-weight: 500;
}

h2 {
  cursor: pointer;
  transition: color 0.3s ease;
}

h2:hover {
  color: hsl(47, 88%, 63%);
}

.paragraph {
  color: hsl(0, 0%, 42%);
}

.account {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.account img {
  width: 30px;
  margin-right: 10px;
}

.account span {
  font-weight: 800;
}

footer {
  margin: 10px;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 1440px) and (max-width: 375px) {
  .flexcontainer {
    height: 300vh;
  }

  .maincontainer {
    width: 90%;
    margin: 20px 0px;
  }
  footer {
    margin-top: 350px;
    margin-bottom: 10px;
  }
}

